.checkbox-label {
  @apply flex items-center space-x-2 cursor-pointer text-sm;
  color: #3b2f2f; /* Couleur texte terre */
}

.checkbox-input {
  @apply h-4 w-4 rounded;
  background-color: white;
  border: 1px solid #ccc;
  accent-color: #3c8dd8; /* Couleur sélection */
}

.checkbox-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(60, 141, 216, 0.5);
}
